[tool.ruff]
line-length = 100
target-version = "py312"  # Default value. Dynamically set in init.sh.
extend-exclude = [".venv"]

[tool.ruff.lint]
select = ["ALL"]

extend-ignore = [
    "G004",   # Don't allow f-string in log calls.
    "CPY",    # Ensure all files have a copyright notice.
    "D100",   # Missing docstring in public module
    "D104",   # Missing docstring in public package
    "D106",   # Missing docstring in public nested class
    "D107",   # We document `__init__` in the class itself.
    "D418",   # overload-with-docstring; Overloads should have docstrings when they alter the API/functionality.
    "FIX",    # Fixme comments are allowed.
    "TD002",  # Allow TODO comments without author.
    "TD003",  # Allow TODO comments without issue links.
    "PTH123", # open(argument) is more flexible since it can also take strings.
    "S603",   # Too many false positives.
    "TC006",  # Annoying to mandate " in `cast`. Use from __future__ import annotations for forwards references.

    # The settings below are suggested to be disabled when formatting with Ruff. See https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules.
    "W191",   # tab indentation; conflicts with formatting.
    "E111",   # indentation with with invalid multiple; conflicts with formatting.
    "E114",   # indentation with invalid comment; conflicts with formatting.
    "E117",   # over indented; conflicts with formatting.
    "D206",   # indent with spaces; conflicts with formatting.
    "D300",   # triple single quotes; conflicts with formatting.
    "Q000",   # bad quotes inline string; conflicts with formatting.
    "Q001",   # bad quotes multiline string; conflicts with formatting.
    "Q002",   # bad quotes docstring; conflicts with formatting.
    "Q003",   # avoidable escpaped quote; conflicts with formatting.
    "COM812", # missing trailing comma; conflicts with formatting.
    "COM819", # prohibited trailing comma; conflicts with formatting.
]

unfixable = [
    "PIE794", # duplicate class field name - the fix is to delete one entry, which is unlikely to be the correct fix.
]

[tool.ruff.lint.per-file-ignores]
"**/tests/**/*.py" = [
    "INP001", # INP001 - Implicit namespace packages are allowed in tests.
    "S101",   # S101 - Checks for uses of the assert keyword. - necessary for testing.
    "B018",   # B018 - Found useless expression - necessary for testing exceptions are raised.
    "D100",   # D100 - Module dostrings not required in test files.
    "D104",   # D104 - Package dostrings not required in test files.
    "ARG",    # ARG - Unused args are common in tests with mock patches and mock functions.
    "SLF001", # Testig my own class demands private member access.
]

"**/notebooks/**/*.{py,ipynb}" = [
    "E501",    # E501: line too long
    "E402",    # E402: module level import not at top of file
    "BLE",
    "PGH",     # Enfroce declaring ignored errors specifically.
    "PERF",
    "S101",    # Don't allow asserts.
    "INP",     # Allow notebooks directory to not have an __init__.py.
    "T20",     # Don't allow print statements.
    "ERA",     # Find commented out code.
    "B",       # Bugbear: find likely bugs and design problems.
    "N",       # Naming conventions.
    "PD",      # Help improve pandas code quality.
    "PLR2004", # Magic values used in comparisons.
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.flake8-annotations]
allow-star-arg-any = true

[tool.ruff.lint.pycodestyle]
ignore-overlong-task-comments = true  # Allow TODOs that go past line-length.

[tool.ruff.lint.pep8-naming]
extend-ignore-names = [
    "X",  # Common in ML.
]

[tool.ruff.lint.mccabe]
max-complexity = 30  # Arbitrary high-ish value to allow somewhat complex code but not terrible code.

[tool.ruff.lint.pylint]
max-args = 12  # Higher than default value as CLIs often have many arguments.

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true